<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<link rel="stylesheet" href="{% static 'styles.css' %}">
  <head>
    <meta charset="utf-8">
    <title>USCF Shortest Path Between Two Players</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="">Search</a>
      <a href="about">About</a>
    </div>
    {% if player1notnum %}
      <h2 align = "center">The first player you entered was not a valid number, which a USCF ID must be. Please reenter
        the players you want to search for with both being numbers.
    {% endif %}
    {% if player2notnum %}
      <h2 align = "center">The second player you entered was not a valid number, which a USCF ID must be. Please reenter
        the players you want to search for with both being numbers.
    {% endif %}
    {% if player1notfound %}
      <h2 align = "center">The first player you entered was not a valid USCF ID in the currently recorded database,
        please input a valid USCF ID. If you know the USCF ID is valid then please send an email to antonbarash@gmail.com
        with whichever USCF ID the website didn't work for.
    {% endif %}
    {% if player2notfound %}
      <h2 align = "center">The second player you entered was not a valid USCF ID in the currently recorded database,
        please input a valid USCF ID. If you know the USCF ID is valid then please send an email to antonbarash@gmail.com
        with whichever USCF ID the website didn't work for.
    {% endif %}
    <h1 style="font-family:verdana; color:green" align = "center">USCF Shortest Path Between Two Players</h1>
    <div id="content">
      <form method="post" action="path">
		      <label for="player1">Enter the first player's USCF id:</label>
          <input type="player1id" name="player1id" required/><br />
          <label for="player2">Enter the second player's USCF id::</label>
          <input type="player2id" name="player2id" required/><br />
          <input type="submit" />
      </form>
    </div>
  </body>
</html>
